<app-homeheader></app-homeheader>
<div class="addclass">
  <h3>Cleck add to add the products into the table </h3>
  <button class="btn" (click)="popup()">+ add</button>
  </div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> 


  <ng-container matColumnDef="pid">
    <th mat-header-cell *matHeaderCellDef>Product id</th>
  </ng-container>
  <ng-container matColumnDef="pname">
    <th mat-header-cell *matHeaderCellDef>Product name</th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table >
<table class="mat-elevation-z8">
<tr *ngFor="let i of dataSource" div="trow">
<td  class="pid">{{i.productid}}</td>
  <td class="pname">{{i.productname}}</td>
</tr>
</table>