.btn{
    font-size:large;
    width: 5%;
    background-color: rgb(219, 219, 219);
    border-color: transparent;
    margin-bottom: 1%;
    border-radius: 5px;
    margin-top: 0%;
    margin-left: 2%;
}
.addclass{
    margin: 1%;
    padding: 1%;
    display: flex;
}
table {
    width: 100%;  
    margin: 1%;  
    font-size:large;
    font-family: sans-serif;
  }
  .mat-elevation-z8{
    font-size:large;
    font-family: sans-serif;
  }
.pid{
    background-color: rgb(219, 219, 219);
    padding: 1%;
}
.pname{
    background-color: rgb(219, 219, 219);
    padding-left: 12%;

}
