<form #f="ngForm">
    <label>Enter the product id:</label>
    <input name="pid" type="text" ngModel required #pid="ngModel"><br><br>
    <label>Select the product name:</label>
    <select >
        <option>Select one</option>
        <option *ngFor="let i of datasource" value="i.productname" (change)="check(i.productname)">{{i.productname}}</option>
    </select><br><br>
    <label>Selling Quantity(mention in kg)</label>
    <input name="kd" type="text" ngModel required #kg="ngModel"><br><br>
    
    <button type="submit" (click)="sell(pid,kg)">Sell</button>
</form>