.warning{
    color: red;
    width: 100%;
    padding: 5px;
    padding-left: 5%;
}
span{
    font-size: larger;
}
.warnbtn{
    border-color: transparent;
    color: red;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}